* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Raleway", sans-serif;
}

.header {
  padding: 10px 20px 0;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header p {
  text-align: center;
  color: #fff;
  margin: 0;
  font-weight: 700;
}

.header .title {
  font-size: 54px;
  margin-bottom: 8px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 54px;
}

.header .subtitle {
  font-size: 17.4px;
  color: #eef579;
  text-transform: uppercase;
}

.contain {
  background-image: url(img/back-main.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.historys {
  border-radius: 10px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 10px;
  position: relative;
  margin-top: 180px;
}
.historys > div {
  width: fit-content;
  text-align: center;
  background: #f9fe57d9;
  display: flex;
  align-items: center;
  padding: 9px;
  border: solid 1px #f9fe57;

  /* support: IE9+ */
  position: absolute;
  width: 270px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  cursor: pointer;
}
.historys > div > p,
.historys > div > a {
  color: #eeeeee;
  font-size: 23px;
  display: flex;
  margin: 0 0 20px;
  justify-content: flex-start;
}
.historys > div > p,
.historys > div > a {
  display: inline-block;
  font-size: 16px;
  margin: 0;
  line-height: 1;
}
.historys > div > p > .logo,
.historys > div > a > .logo {
  height: 30px;
  width: 30px;
}
.interview img {
  width: 30px;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(108%) hue-rotate(61deg)
    brightness(116%) contrast(100%);
}
.info {
  top: -8px;
  left: 50px;
}

.gallery {
  left: 15px;
  top: 57px;
}
.interview {
  right: 15px;
  bottom: 215px;
}
.infos {
  bottom: 168px;
  right: 15px;
}

.video {
  bottom: 120px;
  right: 50px;
}

.config {
  bottom: 0;
  right: 50px;
}
.historys > .test,
.historys > .config {
  width: 130px;
  left: 141px;
  bottom: 70px;
  padding: 4px;
  background: #818181;
  border: none;
}
.buttons {
  background: #1e752ec7;
  width: fit-content;
  position: absolute;
  bottom: 0;
  display: flex;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: inherit;
}
.buttons > div {
  padding: 10px;
}
.buttons > div svg {
  height: 30px;
  width: 30px;
}
.popup,
.mini-popup {
  background-position: center;
  display: none;
  position: fixed;
  left: 0;
  margin: 0 auto;
  top: 0;
  width: 100%;
  background-size: cover;
  height: 100vh;
  overflow: scroll;
  z-index: 1;
  overscroll-behavior: contain;
  background-color: #000000ad;
}
.mini-popup {
  align-items: center;
  justify-content: center;
}
.contain-popup {
  display: none;
  align-items: center;
  max-width: 980px;
  padding: 0px 20px;
  margin: 0 auto;
  overscroll-behavior: contain;
  height: 100vh;
  overflow: scroll;
}
.contain-popup.one {
  align-items: baseline;
}
.contain-popup.two {
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 140px;
}

.contain-popup img {
  overscroll-behavior: contain;
}
.splide__slide img {
  vertical-align: bottom;
  max-width: 100%;
  width: 100%;
}
.popup.visible {
  display: block;
}
.close svg {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}
.contain-close .close {
  display: none;
}
.contain-close .close svg {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  z-index: 22;
  top: -120px;
}
.contain-video {
  display: flex;
  align-items: center;
  height: 100%;
}
.aspect {
  position: relative;
  padding-bottom: 56.25%;
  height: 0px;
  width: 100%;
}
.aspect iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contain-popup.three {
  position: relative;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
}
.contain-popup.three.visible {
  display: table-row;
}
.contain-popup.three .title {
  color: #fff;
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding: 40px 50px 0;
  margin: 0;
  text-transform: uppercase;
}

.contain-popup.three p {
  color: #fff;
  font-size: 22px;
  line-height: 40px;
}
.five p {
  color: #fff;
  font-weight: bold;
  font-size: 20.5px;
}
.five ul {
  padding: 0 10px;
}

.five ul li {
  color: #fff;
  line-height: 20px;
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: bold;
}

footer,
.logos {
  bottom: 13px;
  position: absolute;
  right: 0px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
footer p,
.logos p {
  font-weight: bold;
  text-align: left;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  color: #030000;
}
.contain-popup.three .logos p,
.contain-popup.five .logos p {
  color: #fff;
  line-height: 1;
  font-size: 11px;
  padding: 0;
}
a.logo.autobild-logo img {
  max-width: 44px;
  padding: 5px;
  margin: 0;
  width: auto;
}

a.logo.axel-logo img {
  max-width: 120px;
  margin: 0;
  width: auto;
}
.splide__slide p {
  font-size: 21px;
  background: #000;
  color: #fff;
  margin: 0;
  padding: 10px;
}
.splide--fade > .splide__track > .splide__list {
  width: 100%;
}
.contain-popup.one img {
  width: 100%;
}
.contain-popup.three img {
  width: 100%;
  max-width: 460px;
  margin: 20px auto;
  display: block;
}
.historys span,
.historys a span,
.historys a {
  font-weight: bold;
  color: #1e1c1f;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  line-height: 18px;
}
.opel {
  width: 157px;
  position: absolute;
  right: 10px;
  bottom: 0px;
  display: flex;
  align-items: center;
}

a.logo.axel-logo {
  position: relative;
  top: 13px;
  left: -4px;
}
.mini-popup.visible {
  display: flex;
}

.block-green {
  box-sizing: content-box;
  width: 100%;
  background: #073300d9;
  left: 0;
  right: 0;
  z-index: -1;
  padding: 0px 20px 90px;
  position: relative;
}

.contain-popup.five {
  position: relative;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
}

.contain-popup.five img {
  display: block;
  max-width: 420px;
  margin: 30px auto 0;
  width: 100%;
}

h2.title {
  font-size: 45px;
  color: #fff;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 0;
}

h2.title:after {
  content: "";
  width: 45px;
  height: 14px;
  background: aquamarine;
  position: absolute;
  top: -27px;
  margin: 0 auto;
  left: 0px;
  right: 0;
}

.contain-popup.five h3 {
  font-size: 22px;
  color: #fff;
  width: 100%;
  font-weight: 100;
  text-align: center;
  margin: 0 0 60px;
}
.historys > div > a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.historys > .test span,
.historys > .config span {
  font-size: 12px;
  color: #fff;
}

.historys > .config {
  left: -140px;
}
.contain-popup.five .logos {
}
.contain-popup.five .block-green {
  padding-top: 70px;
}
@media only screen and (min-width: 980px) {
  .contain {
    background-image: url(img/slide1.jpg);
    background-size: cover;
  }
  a.logo.axel-logo {
    display: block;
  }
  .historys > div > span {
    display: block;
    padding: 0 13px;
  }
  .splide__slide p {
    font-size: 27px;
  }
  .header {
    top: 0;
    position: relative;
  }
  .header .title {
    font-size: 100px;
    line-height: 91px;
  }
  .header .subtitle {
    font-size: 30px;
  }
  .historys {
    height: calc(100% - 200px);
    margin-top: 0;
  }
  .historys > div {
    transition: background-clip 0.3s;
    cursor: pointer;
    background-clip: content-box;
  }
  .historys > div:hover {
    background-clip: inherit;
  }
  .buttons {
    background: #1e752ec7;
    right: 0;
    top: calc(50vh - 69px);
    bottom: inherit;
    left: inherit;
    display: block;
  }
  .buttons > div {
    padding: 15px 10px;
  }
  .buttons > div svg {
    height: 50px;
    width: 50px;
    transform: rotate(0);
    transition: transform 0.5s;
  }
  .buttons > div:hover svg {
    transform: rotate(0deg);
  }
  .buttons > div:hover svg {
    transform: rotate(20deg);
  }
  .historys > div {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    box-sizing: content-box;
  }
  .historys > div > p > .logo,
  .historys > div > a > .logo {
    height: 40px;
    width: 40px;
  }
  .historys > div > p,
  .historys > div > a {
    line-height: 15px;
    text-indent: 10px;
  }
  .interview img {
    width: 45px;
    position: relative;
    top: 4px;
  }
  .mini-popup {
    position: absolute;
    left: -264px;
    margin: 0 auto;
    top: -196px;
    width: 500px;
    height: auto;
    background: #000000b3;
    margin: 0 20px;
    text-align: left;
    padding: 8px 18px;
    overflow: scroll;
    z-index: 1;
    overscroll-behavior: contain;
  }
  .contain-close .close svg {
    right: inherit;
    left: calc(21% - -549px);
    z-index: 22;
    top: calc(51% - 30px);
  }

  .config a {
    text-decoration: none;
  }
  .contain-popup.three p {
    padding: 0px 100px;
  }
  .historys > .info {
    top: 4%;
    left: 12%;
    right: inherit;
  }

  .historys > .gallery {
    right: 15%;
    top: 4%;
    left: inherit;
  }
  .historys > .interview {
    left: 3%;
    top: 38%;
    right: inherit;
  }
  .historys > .infos {
    bottom: 6%;
    left: 15%;
    right: inherit;
  }

  .historys > .video {
    top: 34%;
    right: 5%;
    left: inherit;
  }

  .config {
    bottom: -1%;
    left: 19%;
  }
  .test {
    left: inherit;
    top: inherit;
  }
  .historys > .test,
  .historys > .config {
    height: auto;
    border-radius: 0;
    width: 200px;

    padding: 8px;
  }
  .historys > .test span,
  .historys > .config span {
    font-size: 16px;
  }
  .historys > .test {
    left: inherit;
    right: calc(32% - 216px);
  }
  .historys > .config {
    right: 33%;
    left: inherit;
  }
}

.splide__pagination {
  display: none !important;
}
.splide__slide p {
  font-size: 17px;
  line-height: 24px;
  background: #000;
  color: #fff;
  margin: 0;
  padding: 10px;
  font-weight: bold;
}
.splide h3 {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 5px;
  font-size: 24px;
}
