@font-face {
  font-family: "Opel";
  src: url("./fonts/OpelNext.otf") format("opentype"),
    url("./fonts/OpelNext.woff") format("woff"),
    url("./fonts/OpelNext.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpelBold";
  src: url("./fonts/OpelNextBold.otf") format("opentype"),
    url("./fonts/OpelNextBold.woff") format("woff"),
    url("./fonts/OpelNextBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "OpelLight";
  src: url("./fonts/OpelNextLight.otf") format("opentype"),
    url("./fonts/OpelNextLight.woff") format("woff"),
    url("./fonts/OpelNextLight.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

* {
  font-family: "Opel", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.header {
  padding: 10px 20px 0;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header p {
  text-align: center;
  color: #000;
  margin: 0;
}

.header .title {
  font-size: 54px;
  margin-bottom: 8px;
  text-transform: uppercase;
  line-height: 54px;
}

.header .subtitle {
  font-size: 17.4px;
  color: #000;
  text-transform: uppercase;
}
p.title span {
  font-family: "OpelLight";
  font-weight: lighter;
}

p.subtitle span {
  font-family: "OpelLight";
}

.contain {
  background-image: url(img/back-main.jpg);
  background-size: cover;
  background-position: center 0px;
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  align-content: flex-start;
}
.historys {
  border-radius: 10px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 10px;
  position: relative;
  margin-top: 180px;
  height: calc(100% - 200px);
}
.historys section > div {
  width: fit-content;
  text-align: center;
  background: #f9fe57ad;
  display: flex;
  align-items: center;
  padding: 9px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  justify-content: center;
  margin: 0 auto 10px;
  left: 0;
  right: 0;
  cursor: pointer;
}
.historys section div > p,
.historys section div > a {
  color: #000;
  font-size: 23px;
  display: flex;
  margin: 0 0 20px;
  justify-content: flex-start;
}
.historys section div p,
.historys section div a {
  display: inline-block;
  font-size: 16px;
  margin: 0;
  line-height: 1;
}
.historys > div > p > .logo,
.historys > div > a > .logo {
  height: 30px;
  width: 30px;
}
.interview img {
  width: 30px;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(108%) hue-rotate(61deg)
    brightness(116%) contrast(100%);
}
.info {
  top: -8px;
  left: 50px;
}

.gallery {
  left: 15px;
  top: 32px;
}
.interview {
  right: 15px;
  top: 72px;
}
.infos {
  top: 112px;
  right: 15px;
}

.video {
  top: 156px;
  right: 50px;
}

.config {
  bottom: 0;
  right: 50px;
}
.historys .test,
.historys .config,
.historys .find {
  width: 150px;
  left: 141px;
  bottom: 70px;
  padding: 4px;
  background: #f9fe57bf;
  /* border: solid 2px #000; */
  color: #000;
}
.buttons {
  background: #1e752ec7;
  width: fit-content;
  position: absolute;
  bottom: 0;
  display: flex;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: inherit;
}
.buttons section > div {
  padding: 10px;
}
.popup,
.mini-popup {
  background-position: center;
  display: none;
  position: fixed;
  left: 0;
  margin: 0 auto;
  top: 0;
  width: 100%;
  background-size: cover;
  height: 100vh;
  overflow: scroll;
  z-index: 1;
  overscroll-behavior: contain;
  background-color: #000000ad;
}
.mini-popup {
  align-items: center;
  justify-content: center;
}
.contain-popup {
  display: none;
  align-items: center;
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
  overscroll-behavior: contain;
  overflow: scroll;
}
.contain-popup.one {
  align-items: baseline;
  padding: 0;
}
.contain-popup.two {
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 140px;
}

.contain-popup img {
  overscroll-behavior: contain;
}
.splide__slide img {
  vertical-align: bottom;
  max-width: 100%;
  width: 100%;
}
.popup.visible {
  display: block;
}
.close svg {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}
.contain-close .close {
  display: none;
}
.contain-close .close svg {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  z-index: 22;
  top: -120px;
}
.contain-video {
  display: flex;
  align-items: center;
  height: 100%;
}
.aspect {
  position: relative;
  padding-bottom: 56.25%;
  height: 0px;
  width: 100%;
}
.aspect iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contain-popup.three {
  position: relative;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
}
.contain-popup.three.visible {
  display: table-row;
}
.contain-popup.three .title {
  color: #fff;
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding: 40px 50px 0;
  margin: 0;
  text-transform: uppercase;
}

.contain-popup.three p {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial";
  margin: 0;
}
.five p {
  color: #000;
  font-weight: bold;
  font-size: 22px;
  line-height: 40px;
  font-family: "Arial";
  font-weight: normal;
}
.five ul {
  padding: 0 10px;
}

.five ul li {
  color: #fff;
  line-height: 20px;
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: bold;
}

footer,
.logos {
  bottom: 13px;
  position: absolute;
  right: 0px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
footer p,
.logos p {
  font-weight: bold;
  text-align: left;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  color: #030000;
}
.contain-popup.three .logos p,
.contain-popup.five .logos p {
  color: #000;
  line-height: 1;
  font-size: 11px;
  padding: 0;
}
a.logo.autobild-logo img {
  max-width: 44px;
  padding: 5px;
  margin: 0;
  width: auto;
}

a.logo.axel-logo img {
  max-width: 120px;
  margin: 0;
  width: auto;
}
.splide__slide p {
  font-size: 21px;
  background: #000;
  color: #fff;
  margin: 0;
  padding: 10px;
}
.splide--fade > .splide__track > .splide__list {
  width: 100%;
}
.contain-popup.one img {
  width: 100%;
}
.contain-popup.three img {
  width: 100%;
  margin: 20px auto;
  display: block;
}
.historys span,
.historys a span,
.historys a {
  font-weight: bold;
  color: #1e1c1f;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  line-height: 14px;
}
.opel {
  width: 157px;
  position: absolute;
  right: 10px;
  bottom: 0px;
  display: flex;
  align-items: center;
}

a.logo.axel-logo {
  position: relative;
  top: 13px;
  left: -4px;
}
.mini-popup.visible {
  display: flex;
}

.block-green {
  box-sizing: content-box;
  width: 100%;
  background: #f9fe57bf;
  left: 0;
  right: 0;
  z-index: -1;
  padding: 0px 20px 90px;
  position: relative;
}

.contain-popup.five {
  position: relative;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
}

.contain-popup.five img {
  display: block;
  margin: 30px auto 0;
  width: 100%;
}

h2.title {
  font-size: 45px;
  color: #000;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  font-family: "OpelLight";
  font-weight: lighter;
  padding: 0 30px;
}

.contain-popup.five h3 {
  font-size: 22px;
  color: #fff;
  width: 100%;
  font-weight: 100;
  text-align: center;
  margin: 0 0 60px;
}
.historys > div > a {
  display: block;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.historys .test span,
.historys .config span,
.historys .find span {
  font-size: 12px;
  color: #000;
}

.historys .config {
  left: -140px;
}

.contain-popup.five .block-green {
  padding-top: 29px;
  padding-bottom: 30px;
}

.historys .find {
  bottom: 120px;
  left: 0;
  right: 0;
}
span.name {
  font-size: 17px;
  font-weight: lighter;
  font-family: "OpelLight";
}

.splide__pagination {
  display: none !important;
}
.splide__slide p {
  font-size: 17px;
  line-height: 30px;
  background: #000;
  color: #fff;
  margin: 0;
  padding: 10px;
}
.splide h3 {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 5px;
  font-size: 24px;
}
.contain-popup.three h2 {
  color: #fff;
  font-size: 26px;
}
.description {
  display: flex;
  flex-wrap: wrap;
}

.title-des {
  font-size: 45px;
  text-transform: uppercase;
}
.caption {
  margin-bottom: 16px;
}
.contain-popup.five h3 {
  color: #000;
}

section.contain-buttons {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 10px;
}

section.contain-buttons-cta {
  position: absolute;
  bottom: 60px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  max-width: 370px;
}
@media only screen and (min-width: 980px) {
  .des:first-child {
    padding-right: 20px;
  }

  .des:last-child {
    padding-left: 20px;
  }
  .contain {
    background-size: cover;
    background-position: center bottom;
  }
  a.logo.axel-logo {
    display: block;
  }
  .historys section > div > span {
    display: block;
    padding: 0 13px;
  }
  .splide__slide p {
    font-size: 24px;
  }
  .header {
    top: 0;
    position: relative;
  }
  .header .title {
    font-size: 90px;
    line-height: 91px;
  }
  .header .subtitle {
    font-size: 45px;
  }
  .historys {
    margin-top: 0;
    align-content: flex-end;
    padding-bottom: 40px;
    justify-content: flex-start;
  }
  .historys section > div {
    transition: background-clip 0.3s;
    cursor: pointer;
  }
  .historys section > div:hover {
    background-clip: inherit;
  }
  .buttons {
    background: #1e752ec7;
    right: 0;
    top: calc(50vh - 69px);
    bottom: inherit;
    left: inherit;
    display: block;
  }
  .buttons > div {
    padding: 15px 10px;
  }
  .buttons > div svg {
    height: 50px;
    width: 50px;
    transform: rotate(0);
    transition: transform 0.5s;
  }
  .buttons > div:hover svg {
    transform: rotate(0deg);
  }
  .buttons > div:hover svg {
    transform: rotate(20deg);
  }
  .historys section > div {
    padding: 9px;
    width: 500px;
    background: transparent;
    position: static;
    margin-bottom: 10px;
  }
  .historys section > div > p > .logo,
  .historys section > div > a > .logo {
    height: 40px;
    width: 40px;
  }
  .historys section > div > p,
  .historys section > div > a {
    line-height: 15px;
    text-indent: 10px;
  }
  .interview img {
    width: 45px;
    position: relative;
    top: 4px;
  }
  .mini-popup {
    position: absolute;
    left: -264px;
    margin: 0 auto;
    top: -196px;
    width: 500px;
    height: auto;
    background: #000000b3;
    margin: 0 20px;
    text-align: left;
    padding: 8px 18px;
    overflow: scroll;
    z-index: 1;
    overscroll-behavior: contain;
  }
  .contain-close .close svg {
    right: inherit;
    left: calc(21% - -549px);
    z-index: 22;
    top: calc(51% - 30px);
  }

  .config a {
    text-decoration: none;
  }
  .historys section > .info {
    top: 234px;
    left: 30px;
    right: inherit;
  }

  .historys section > .gallery {
    left: 30px;
    top: 284px;
    right: inherit;
  }
  .historys section > .interview {
    left: 30px;
    top: 334px;
    right: inherit;
  }
  .historys section > .infos {
    left: 30px;
    right: inherit;
    top: 384px;
  }

  .historys section > .video {
    top: 434px;
    left: 30px;
    right: inherit;
  }

  .config {
    bottom: -1%;
    left: 19%;
  }
  .test {
    left: inherit;
    top: inherit;
  }
  .historys section > .test,
  .historys section > .config,
  .historys section > .find {
    height: auto;
    border-radius: 0;
    width: 170px;
    padding: 4px;
    background: transparent;
    bottom: inherit;
    position: relative;
    margin: 0 10px;
  }
  .historys section > .test span,
  .historys section > .config span,
  .historys section > .find span {
    font-size: 12px;
    display: block;
  }
  .historys section > .test {
    left: inherit;
    right: inherit;
    position: static;
  }
  .historys section > .config {
    right: inherit;
    left: inherit;
    position: static;
  }
  .historys section > .find {
    left: inherit;
    right: inherit;
    position: static;
  }
  .des {
    width: 50%;
  }
  .block-green {
    padding: 0 160px;
  }
  .contain-popup.five .block-green {
    height: auto;
  }
  section.contain-buttons-cta {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: static;
    display: flex;
    max-width: inherit;
  }
  .historys section > div {
    border: solid 3px #000;
  }

  .historys span,
  .historys a span,
  .historys a {
    font-weight: bold;
    color: #1e1c1f;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    line-height: 22px;
  }
  .historys .test,
  .historys .config,
  .historys .find {
    border: solid 2px #000;
  }
  section.contain-buttons {
    padding-left: 100px;
    padding-bottom: 70px;
    position: inherit;
    display: block;
    top: inherit;
    width: 100px;
  }
}
