* {
  font-family: "KoHo", sans-serif;
}
.header-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  min-width: 100%;
}

.header-video {
  width: 100%;
  height: 100vh;
  max-height: 600px;
  position: relative;
  margin-bottom: 30px;
}

.square {
  width: 240px;
  height: 240px;
  background: #9b0a10bf;
  position: absolute;
  padding: 20px;
  top: 50px;
  left: 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.square p {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  font-size: 46px;
  line-height: 80px;
  position: relative;
  top: 15px;
}

.square span {
  text-transform: uppercase;
  color: #fff;
  font-size: 90px;
  line-height: normal;
  font-weight: 600;
  position: relative;
  top: -10px;
}

.wrapper.hor {
  max-width: 800px;
  height: 100%;
  position: relative;
  z-index: 1;
}

.main-title {
  position: absolute;
  bottom: 50px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.main-title h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 66px;
  font-weight: 700;
}

.main-title h1 span {
  color: #9b0a10;
  display: block;
  font-size: 111px;
}
.description {
  margin-bottom: 70px;
}

.description p {
  font-weight: 100;
  color: #3b3b3b;
  font-size: 52px;
  text-align: center;
  line-height: 65px;
  margin-bottom: 30px;
  display: block;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.description img {
  width: 100%;
}
.block-video {
  height: 100vh;
  max-height: 640px;
  background-size: cover;
  background-image: url("../media/Citroen_e_C4_100_electric_8-min.jpg");
  background-position: center bottom;
  position: relative;
}
.block-video .title {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  font-size: 52px;
  max-width: 660px;
  text-align: center;
  font-weight: 600;
  line-height: 65px;
}
.mini-description {
  background: #9b0a10;
  padding: 20px 0;
}
.mini-description p {
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.desc-title p {
  text-align: center;
  color: #3c3c3c;
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 66px;
}

.desc-title span {
  color: #9b0a10;
  display: block;
  font-size: 72px;
  line-height: 80px;
}

.wrapper.vh {
  margin: 40px auto;
}
.info img + p {
  font-size: 48px;
  text-align: center;
  font-weight: lighter;
  line-height: 52px;
}
.info button,
.block-social button {
  appearance: none;
  border: none;
  background: #9b0a10;
  width: 410px;
  border-radius: 13px;
  display: block;
  margin: 30px auto 0;
  text-align: center;
}
.block-social button {
  background: #fff;
}

.info button a,
.block-social button a {
  text-transform: uppercase;
  color: #3c3c3c;
  font-size: 29px;
  font-weight: 500;
}
.block-social {
  background: #9b0a10;
  width: 800px;
  margin: 40px auto;
  padding: 15px;
  border-radius: 10px;
}

.block-social p {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.block-img {
  display: flex;
  flex-wrap: wrap;
}

.block-img img {
  width: 124px;
  height: 200px;
  object-fit: cover;
  border-radius: 3px;
}
.contain-img {
  margin-right: 5px;
}

.contain-img:last-child {
  margin-right: 0;
}

.block-cta a {
  font-size: 21px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  background: #fff;
  padding: 13px 10px;
  border-radius: 10px;
  color: #3c3c3c;
  margin: auto;
  width: 320px;
}
.block-cta {
  height: 100vh;
  max-height: 610px;
  background-size: cover;
  background-image: url(../media/CTAs-min.jpg);
  background-position: center;
}

.contain-buttons {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 130px;
}

.block-cta .contain-buttons a {
  margin: 0 10px;
}

.gallery {
  height: 100vh;
  max-height: 640px;
  background-size: cover;
  background-image: url(../media/Citroen_e_C4_100_electric_7-min.jpg);
  background-position: center;
  position: relative;
  cursor: pointer;
  margin-top: 30px;
}
.title-gallery {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  font-size: 52px;
  max-width: 660px;
  text-align: center;
  font-weight: 600;
  line-height: 65px;
}
.gallery:after,
.block-video:after {
  content: "";
  height: 100%;
  width: 100%;
  background: #0003;
  position: absolute;
  top: 0;
  left: 0;
}
.play,
.icon-gallery {
  width: 200px;
  height: 200px;
  background-color: #0000007d;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 250px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, opacity, transform 1.2s !important;
}
.play:hover {
  background-color: #000;
}

.play:after {
  content: "►";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 41px;
  top: calc(50% - 9px);
  color: #fff;
  font-size: 50px;
}
.infographic {
  max-width: 800px;
  margin: 0 auto 30px;
  text-align: center;
}

.infographic img {
  width: 100%;
}

button[disabled] {
  display: none;
}
.modal-vi,
.modal-gal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background: #000000e6;
  z-index: 1000;
  display: none;
}
.modal-visible .modal-vi,
.modal-visible-gal .modal-gal {
  display: flex;
}
.modal-visible,
.modal-visible-gal {
  overflow: hidden;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.close:before {
  content: "";
  background: #fff;
  position: absolute;
  top: 18px;
  left: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 35px;
  height: 3px;
}
.close:after {
  content: "";
  background: #fff;
  width: 35px;
  position: absolute;
  top: 18px;
  left: 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 3px;
}
.container-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}
.container-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.video {
  width: 100%;
  max-width: 980px;
}
.content-by {
  width: 100px;
  height: 91px;
  position: absolute;
  right: 60px;
  top: 50px;
}

.contain-gallery {
  max-width: 940px;
  margin: 0 auto;
}
.splide--fade > .splide__track > .splide__list {
  width: 100%;
  max-height: 600px;
  display: flex !important;
  align-items: center;
}
.splide.is-active .splide__list li {
  max-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.splide.is-active .splide__list li h3 {
  width: 100%;
}
.splide.is-active .splide__list li img {
  max-height: 600px;
}
.icon-gallery svg {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
}
span.insta img {
  max-width: 37px;
  position: relative;
  top: -2px;
}
.video-test {
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  display: block;
  margin-top: 20px;
}
@media (max-width: 800px) {
  * {
    font-family: "KoHo", sans-serif;
  }
  .header-video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    min-width: 100%;
  }

  .header-video {
    width: 100%;
    height: 100vh;
    max-height: 800px;
    position: relative;
    margin-bottom: 30px;
  }

  .square {
    width: 160px;
    height: 160px;
    background: #000000a8;
    position: absolute;
    padding: 15px;
    top: 180px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }

  .square p {
    font-weight: 700;
    text-transform: uppercase;
    color: #9b0a10;
    margin: 0;
    font-size: 30px;
    top: 0;
  }

  .square span {
    text-transform: uppercase;
    color: #9b0a10;
    font-size: 58px;
    font-weight: 600;
    top: -35px;
  }

  .wrapper.hor {
    max-width: 800px;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  .main-title {
    position: absolute;
    bottom: 50px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .main-title h1 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }

  .main-title h1 span {
    color: #9b0a10;
    display: block;
    font-size: 43px;
  }
  .description {
    margin-bottom: 70px;
  }

  .description p {
    font-weight: 100;
    color: #3b3b3b;
    font-size: 22px;
    text-align: center;
    line-height: 34px;
    margin-bottom: 30px;
    display: block;
    padding: 0 10px;
  }

  .wrapper {
    max-width: 800px;
    margin: 0 auto;
  }

  .description img {
    width: 100%;
  }
  .block-video {
    height: 100vh;
    max-height: 640px;
    background-size: cover;
    background-image: url("../media/Citroen_e_C4_100_electric_8-min.jpg");
    background-position: center;
    position: relative;
  }
  .block-video .title {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    max-width: 660px;
    text-align: center;
    font-weight: 600;
    line-height: 36px;
    padding: 0 10px;
  }
  .mini-description {
    background: #9b0a10;
    padding: 20px 0;
  }
  .mini-description p {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    font-weight: lighter;
    padding: 0 10px;
  }

  .desc-title p {
    text-align: center;
    color: #3c3c3c;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 36px;
  }

  .desc-title span {
    color: #9b0a10;
    display: block;
    font-size: 41px;
  }

  .wrapper.vh {
    margin: 40px auto;
  }
  .info img + p {
    font-size: 28px;
    text-align: center;
    font-weight: lighter;
    line-height: 36px;
    padding: 0 10px;
  }
  .info button,
  .block-social button {
    appearance: none;
    border: none;
    background: #9b0a10;
    width: 290px;
    border-radius: 13px;
    display: block;
    margin: 30px auto 0;
  }
  .block-social button {
    background: #fff;
  }

  .info button a,
  .block-social button a {
    text-transform: uppercase;
    color: #3c3c3c;
    font-size: 20px;
  }
  .block-social {
    background: #9b0a10;
    width: calc(100% - 60px);
    margin: 40px auto;
    padding: 15px;
    border-radius: 10px;
  }

  .block-social p {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
  }

  .block-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .block-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .contain-img {
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .contain-img:last-child {
    margin-right: 0;
  }

  .block-cta a {
    font-size: 21px;
    text-transform: uppercase;
    display: block;
    width: 320px;
    margin: 20px auto 5px;
    text-align: center;
    background: #fff;
    padding: 13px 10px;
    border-radius: 10px;
    color: #3c3c3c;
  }
  .block-cta {
    height: 100vh;
    max-height: 610px;
    background-size: cover;
    background-image: url(../media/CTAs-min.jpg);
    background-position: center;
  }

  .contain-buttons {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .block-cta .contain-buttons a {
    margin: 0 10px 30px;
  }

  .gallery {
    height: 100vh;
    max-height: 640px;
    background-size: cover;
    background-image: url(../media/Citroen_e_C4_interior-min.jpg);
    background-position: center;
    position: relative;
  }
  .title-gallery {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    max-width: 660px;
    text-align: center;
    font-weight: 600;
    line-height: 36px;
    padding: 0 10px;
  }
  .gallery:after,
  .block-video:after {
    content: "";
    height: 100%;
    width: 100%;
    background: #0003;
    position: absolute;
    top: 0;
    left: 0;
  }
  .play,
  .icon-gallery {
    width: 100px;
    height: 100px;
    background: #0000007d;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 250px;
    border-radius: 50%;
  }

  .play:after {
    content: "►";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30px;
    top: calc(50% - 11px);
    color: #fff;
    font-size: 30px;
  }
  .modal-vi,
  .modal-gal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: #000000e6;
    z-index: 1000;
    display: none;
  }
  .modal-visible .modal-vi,
  .modal-visible-gal .modal-gal {
    display: flex;
  }
  .modal-visible,
  .modal-visible-gal {
    overflow: hidden;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  .close:before {
    content: "";
    background: #fff;
    position: absolute;
    top: 18px;
    left: 3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 35px;
    height: 3px;
  }
  .close:after {
    content: "";
    background: #fff;
    width: 35px;
    position: absolute;
    top: 18px;
    left: 3px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 3px;
  }
  .container-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 51%;
  }
  .container-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .video {
    width: 100%;
    max-width: 980px;
  }
  .content-by {
    width: 100px;
    height: 91px;
    position: absolute;
    right: 0;
    margin: 0 auto;
    left: 0;
    top: 50px;
  }

  .contain-gallery {
    max-width: 940px;
    margin: 0 auto;
  }
  .splide--fade > .splide__track > .splide__list {
    width: 100%;
    max-height: 600px;
  }
  .splide.is-active .splide__list li {
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .splide.is-active .splide__list li h3 {
    width: 100%;
  }
  .splide.is-active .splide__list li img {
    max-height: 600px;
  }
  .info img {
    width: 100%;
  }
  .icon-gallery svg {
    width: 40px;
    height: 80px;
  }
}
.contain-footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.axel {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.footer-logos {
  width: 100%;
  margin-bottom: 20px;
}

.footer-logos .logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-logos .logos img {
  max-width: 110px;
}

.rss {
  width: 100%;
}

.rss ul {
  display: flex;
  justify-content: center;
}

.rss ul li {
  margin: 0 10px;
}
.image-par {
  display: none;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.gal.mobile {
  margin: 30px 0;
}

@media (min-width: 800px) {
  .gal.mobile {
    display: none;
  }
  .image-par {
    display: block;
  }
}
@media (min-width: 1000px) {
  .axel {
    width: 20%;
    margin-bottom: 0;
    text-align: center;
  }
  .footer-logos {
    width: 60%;
    margin-bottom: 0;
  }
  .rss {
    width: 20%;
  }
  .footer-logos .logos img {
    max-width: 180px;
  }
}
