.videobg {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-size: cover;
  background-color: #111;
  background-image: url(../media/peugeot508PSE_6.png);
}

.logo {
  text-align: center;
  padding: 40px 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.logo h1 {
  font-size: 35px;
  line-height: 53px;
}

.logo img {
  max-width: 150px;
}
.temporal-line {
  background-attachment: fixed;
  background-image: url(../media/logo-peu.png);
  background-color: #000000c7;
  background-size: 140px;
  background-repeat: no-repeat;
  background-position: center;
}
.temporal-line h2 {
  text-align: center;
  font-size: 50px;
}
.temporal-line .process-1 img {
  max-width: 300px;
  display: block;
  margin: 30px auto 0;
  border-radius: 6px;
}

.temporal-line .process__item:after {
  border: 2px solid #fff;
}
.text-pse h2 {
  padding: 0 20px;
}
.text-pse img {
  width: 100%;
}
.text-pse .lead {
  padding: 0 20px;
  line-height: 26px;
}

.bg--dark .process-1 .process__item:after,
.imagebg .process-1 .process__item:after,
.bg--dark .process-2 .process__item:after,
.imagebg .process-2 .process__item:after {
  background: #555;
}

.technical-data .boxed.boxed--border {
  border: 3px solid #bfdd0b;
  background: #fff;
  color: #000;
}
.technical-data .boxed.boxed--border p {
  color: #000;
}
.no-opacity {
  opacity: 1;
}
.process-1 h4 {
  font-weight: bold;
  font-size: 24px;
}

.process-1 p {
  font-size: 17px;
  font-weight: 600;
}
.contain-gallery {
  padding: 0 10px;
  max-width: 980px;
  margin: 0 auto;
}
.contain-videos .container-video {
  margin-bottom: 20px;
  position: relative;
}
.contain-videos .aspect {
  margin-bottom: 10px;
}

.contain-videos {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 100%;
}
.contain-videos .container-video {
  margin-bottom: 20px;
  position: relative;
  margin: 50px 0px 0;
}
.contain-map {
  padding: 40px 10px;
  max-width: 1150px;
  margin: 0 auto;
}
.container.map h2 {
  margin: 60px 0 0;
}
section.videos {
  background-size: 100px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000c7;
}
.videos h2 {
  margin-top: 2rem;
  color: #fff;
}
img.body-image {
  float: left;
  max-width: 520px;
  margin: 15px 16px 11px 0;
}
.technical-data .feature.boxed.boxed--border.border--round img{
  max-width: 100px;
  margin-bottom: 0;
}
.technical-data .feature.boxed.boxed--border.border--round span{
  width: 100%;
}
.technical-data .feature.boxed.boxed--border.border--round {
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
.contain-videos .aspect video {
  width: 100%;
}

.contain-videos.aos-init.aos-animate {
  display: flex;
  flex-wrap: wrap;
}
.contain-videos.aos-init {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (min-width: 660px) {
  .temporal-line {
    background-size: 340px;
  }
  .contain-videos .container-video {
    width: 48%;
  }
}
@media only screen and (min-width: 1025px) {
  .logo {
    background: #0000005e;
  }
  .logo {
    margin: 150px auto;
  }
}
@media only screen and (min-width: 1025px) {
  .text-pse h2,
  .text-pse .lead {
    padding: 0;
  }
}
